@import "variables";
@import "container";

// Commons Styles
:root {
  // Typography
  font-family: 'Source Code Pro';
  line-height: 1.5;
  font-weight: 400;
  font-size: 16px;

  @media (min-width: map-get($breakpoints, "sm")) {
    font-size: 17px;
  }

  @media (min-width: map-get($breakpoints, "md")) {
    font-size: 18px;
  }

  @media (min-width: map-get($breakpoints, "lg")) {
    font-size: 19px;
  }

  @media (min-width: map-get($breakpoints, "xl")) {
    font-size: 20px;
  }

  // Borders
  border-radius: 0.25rem;
  border-width: 1px;

  // Spacings
  --spacing: 1rem;
  spacing: calc(var(--spacing) * 2) var(--spacing);
  // Spacings for typography elements
  --outline-width: 3px;
}

// Responsives spacings
body > div,
section {
  @if map-get($breakpoints, "sm") {
    @media (min-width: map-get($breakpoints, "sm")) {
      spacing: calc(var(--spacing) * 2.5) var(--spacing);
    }
  }

  @if map-get($breakpoints, "md") {
    @media (min-width: map-get($breakpoints, "md")) {
      spacing: calc(var(--spacing) * 3) var(--spacing);
    }
  }

  @if map-get($breakpoints, "lg") {
    @media (min-width: map-get($breakpoints, "lg")) {
      spacing: calc(var(--spacing) * 3.5) var(--spacing);
    }
  }

  @if map-get($breakpoints, "xl") {
    @media (min-width: map-get($breakpoints, "xl")) {
      spacing: calc(var(--spacing) * 4) var(--spacing);
    }
  }
}


a {
  text-decoration: none;
}


h1 {
  font-weight: 700;
  font-size: 2rem;
}
