<meta charset="utf-8" />

<meta name="title" content="Title"/>
<meta name="description" content="Description"/>
<meta name="keywords" content="dhilipsiva"/>
<link rel="image_src" href="/1d51a1814e8aa0bdbaaafe.jpg" />

<meta property="og:type" content="article" />
<meta property="og:title" content="Title" />
<meta property="og:description" content="Description" />
<meta property="og:image" content="/1d51a1814e8aa0bdbaaafe.jpg" />
<meta property="og:url" content="http://example.com" />
<meta property="fb:profile_id"   content="1627550002" />
<meta property="profile:username"   content="dhilipsiva" />

<meta name="twitter:card" content="summary">
<meta name="twitter:title" content="Title" />
<meta name="twitter:description" content="Description" />
<meta name="twitter:image" content="/1d51a1814e8aa0bdbaaafe.jpg" />
<meta name="twitter:image:src" content="/1d51a1814e8aa0bdbaaafe.jpg" />
<meta name="twitter:url" content="http://example.com" />
<meta name="twitter:site" content="@dhilipsiva" />
<meta name="twitter:domain" content="dhilipsiva.com" />
