---
layout: default
title: Blog Posts
description: Some random musings. Mostly Technical.
---

<div class="row">
    <ul class="posts">
        {% for post in paginator.posts %}
        <li>
            <a class="post-title" href="{{ post.url }}">{{ post.title }}</a>
            <span class="post-date">{{ post.date | date_to_string }}</span>
        </li>
        {% endfor %}
    </ul>
</div>

<!-- Pagination links -->
<div class="row pagination">
    Pages:
    {% if paginator.previous_page %}
     <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-success btn-sm">&laquo; Prev</a>
    {% else %}
    <span class="btn btn-default btn-sm">&laquo; Prev</span>
    {% endif %}

    {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
    <em class="btn btn-default btn-sm">{{ page }}</em>
    {% elsif page == 1 %}
    <a class="btn btn-success btn-sm" href="{{ '/blog/index.html' | prepend: site.baseurl | replace: '//', '/' }}">{{ page }}</a>
    {% else %}
    <a class="btn btn-success btn-sm" href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
    {% endfor %}

    {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="btn btn-success btn-sm">Next &raquo;</a>
    {% else %}
    <span class="btn btn-default btn-sm">Next &raquo;</span>
    {% endif %}
</div>
