{% extends "base.html" %}
{% block title %}Get in touch | dhilipsiva{% endblock %}
{% block js %}
{% endblock %}
{% block main %}
<div class="row">
    <div class="span4 offset4">
        <table class="table table-striped">
            <tbody>
                <tr>
                    <td><i class="icon-comment icon-large"></i> IRC </td>
                    <td><span class="label label-info"> irc.freenode.net#dhilipsiva </span></td>
                </tr>
                <tr>
                    <td><i class="icon-envelope icon-large"></i> Personal Email </td>
                    <td><span class="label label-info"> dhilipsiva[AT]gmail[DOT]com </span></td>
                </tr>
                <tr>
                    <td><i class="icon-search icon-large"></i> Google Keyword</td>
                    <td><span class="label label-info"> dhilipsiva </span></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span4 offset4">
        <iframe src="https://docs.google.com/forms/d/18cYPJMlEprmUiLt6_vkNifJcK4xXE02V6s5N9NIiIyw/viewform?embedded=true" width="760" height="500" frameborder="0" marginheight="0" marginwidth="0" scrolling="no">Loading...</iframe>
    </div>
</div>
{% endblock %}
