<div class="nav-bar bg-color-green">
    <div class="nav-bar-inner">
	    <a class="element" href="/" rel="tooltip" title="&hearts; I guess that's my homepage &hearts;">DhilipSiva</a>
	            <span class="divider"></span>
        <ul class="menu">
            <li {% if(page=="home") %} class="border-color-black" {% endif %}>
            <a href="/" rel="tooltip" title="&hearts; I guess that's my homepage &hearts;">Home</a>
            </li>
            <li {% if(page=="i_am") %} class="border-color-black" {% endif %}>
            <a href="/i_am" rel="tooltip" title="&hearts; I am what I am, and that's all what I am &hearts;">I am...</a>
            </li>
            <li {% if(page=="projects") %} class="border-color-black" {% endif %}>
            <a href="/projects" rel="tooltip" title="&hearts; A Partial list of my projects &hearts;">Projects</a>
            </li>
            <li {% if(page=="technologies") %} class="border-color-black" {% endif %}>
            <a href="/technologies" rel="tooltip" title="&hearts; Technologies that I have worked with &hearts;">Technologies</a>
            </li>
            <li {% if(page=="get_in_touch") %} class="border-color-black" {% endif %}>
            <a href="/get_in_touch" rel="tooltip" title="&hearts; Its my pleasure &hearts;">Get in touch</a>
            </li>
        </ul>
    </div>
</div>

