{% extends "base.html" %}
{% block title %}dhilipsiva{% endblock %}
{% block main %}
<div id="index">
    <div class="container">
        <div class="row">
            <div class="span8">
                <div class="hero-unit" itemscope itemtype="http://data-vocabulary.org/Person">
			<h1><span itemprop="name">dhilipsiva</span></h1>
			<p>[PS: All letters of the name "dhilipsiva" are lowercased. This is not a typo. I prefer my name lowercased.]</p>
                    <p>Full Stack Developer. I build scalable, maintainable and smart stuffs for mobile and web. Currently interested in Game Design and Development.</p>
                    <h3 />
                    <span class="dynamo" data-lines="C, C#, Python, Erlang, Clojure, JavaScript, Shell, Vim, Nodejs, Cocoa, .Net, Design Patterns, User Interactivity" data-delay="1000ms" data-speed="350ms">Erlang</span>
                    <h3 />
                    <h5>Latest update from <a href="https://twitter.com/dhilipsiva" target="_blank" itemprop="url">@dhilipsiva</a>:</h5>
                    <p id="last-tweet">
                        Please wait... Loading last update from twitter...
                    </p>
                </div>
            </div>
            <div class="span4">
                <div class="thumbnail">
                    <img src="static/dhilipsiva.jpg" alt="dhilipsiva" />
                </div>
            </div>
        </div>
        <div class="row" style="position:fixed; bottom:0px">
            <p>I built this site just for fun. To experiment and play. So, don't be surprised if you find something broken.</p>
        </div>
    </div>
</div>
{% endblock %}
{% block js %}
<script type="text/javascript">
    $(document).ready(function(){
    var url='//api.twitter.com/1/statuses/user_timeline/dhilipsiva.json?callback=?';
        $.getJSON(url,function(tweet){
    		$("#last-tweet").html(tweet[0].text);
    	});
    	
    });
</script>
<script src="//raw.github.com/prezjordan/dynamo.js/master/dynamo.min.js"></script>
{% endblock %}
