{% extends "base.html" %}
{% block title %}I am | dhilipsiva{% endblock %}
{% block js %}
{% endblock %}
{% block main %}
<div class="row">
    <div class="span8">
        <div class="hero-unit">
            <h1>I am...</h1>
            <br />
            <p>I am a Full Stack Web & Mobile Developer</p>
            <p>I code. Lately, I am also into Big-Data, Machine Learning and little other stuff. While I am not coding, I play games. While I am not doing either of those, then I would probably be sleeping, eating or taking bath.</p>
            <p>You can find few of my profiles on the right.</p>
        </div>
    </div>
    <div class="span4">
        <table class="table table-hover" id="table_profiles">
            <tbody>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="https://github.com/dhilipsiva" class="btn btn-info btn-large btn-block" target="_blank">
                            <i class="icon-github icon-large "></i> GitHub
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="https://twitter.com/dhilipsiva" class="btn btn-info btn-large btn-block" target="_blank">
                            <i class="icon-twitter icon-large "></i> Twitter
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="http://stackoverflow.com/users/1235072/dhilipsiva" class="btn btn-info btn-large btn-block" target="_blank">
                            StackOverflow
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="https://angel.co/dhilipsiva" class="btn btn-info btn-large btn-block" target="_blank">
                            AngelList
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="https://coderwall.com/dhilipsiva" class="btn btn-info btn-large btn-block" target="_blank">
                            Coder Wall
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="http://in.linkedin.com/in/dhilipsiva" class="btn btn-info btn-large btn-block" target="_blank">
                            <i class="icon-linkedin icon-large "></i> LinkedIn
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="https://www.facebook.com/dhilipsiva" class="btn btn-info btn-large btn-block" target="_blank">
                            <i class="icon-facebook icon-large "></i> Facebook
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="https://plus.google.com/117130129908000087872/posts" class="btn btn-info btn-large btn-block" target="_blank">
                            <i class="icon-google-plus icon-large "></i> Google Plus
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="https://dhilipsiva.blogspot.com" class="btn btn-info btn-large btn-block" target="_blank">
                            <i class="icon-globe icon-large "></i> Blog
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="https://google.com/search?q=dhilipsiva" class="btn btn-info btn-large btn-block" target="_blank">
                            <i class="icon-search icon-large "></i> Google Search
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div style="font-size: 24px;">
                            <a href="http://careers.stackoverflow.com/dhilipsiva" class="btn btn-info btn-large btn-block" target="_blank">
                            StackOverflow Careers
                            </a>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
