{% extends "terminimal/templates/index.html" %} 
{% block footer %}{% endblock footer %} 
{% block content %}
<div>
    <h1>An Optimistic Nihilist who loves Science, Python, Rust, FOSS, WebAssembly & Distributed Systems.</h1>
    <p>
        I am a passionate and experienced Software Architect/Engineer with a diverse 
        skill set and a wealth of experience in various programming languages and 
        technologies. Currently, I work as a Software Architect at Appknox. I actively 
        contribute to numerous repositories on GitHub. You can contact me through my 
        email dhilipsiva@pm.me. You can find my past experiences on LinkedIn and search 
        for me on Google.
    </p>
    <p>
        I am very skilled in building (micro)services, focusing on Python/Rust, and a 
        range of other languages including JavaScript (browser-side), C, Go, PHP, Ruby, 
        Objective-C, C#, and Java. Lately, I have developed a keen interest in Rust 
        programming language, WebAssembly, and distributed software.
    </p>
    <p>
        I can architect, code, deploy, (auto)scale, and maintain server-side (.py, .rs), 
        browser-side (.js, .ts, .wasm) & infra (terraform, pulumi, CDK) code. I have 
        built GraphQL, RPC & RESTful microservices with Python & Rust, JavaScript 
        frontends with Ember & React, DevOps pipelines, E2E Test Automation Framework 
        (Horizontal & Vertical) with RobotFramework, Native iOS apps, Android and iOS 
        device farms, RaspberryPi bitcoin mining farm with custom ASIC chips, and scaled 
        a couple of high-traffic web applications.
    </p>
    <p>
        With my broad experience, I can tackle projects at all levels of the web 
        application stack: from server-side to browser-side, and architecture to scaling. 
        I have also successfully scaled high-traffic web applications and deployed services 
        on AWS, Azure, and Google Cloud, using tools such as Fabric, Docker, AWS Copilot, 
        Kubernetes, and more.
    </p>
    <p>
        In addition to my technical skills, I have also been a leader on small tech teams, 
        guiding my colleagues to success and fostering a positive work environment. I have 
        also contributed to several open-source projects and reverse-engineered and "hacked"
        mobile applications for fun.
    </p>
    <p>
        Outside of my professional life, I am constantly exploring new technologies and 
        keeping up with the latest trends in the software engineering world. I love 
        discussing philosophy & socio-economic and political change. In my free time, I 
        enjoy tinkering with IoT and robotic projects with my kids, both for fun and as a 
        way to continue learning and growing my skillset.
    </p>
</div>
{% endblock content %}