{% extends "base.html" %}
{% block title %}Projects | dhilipsiva{% endblock %}
{% block js %}
{% endblock %}
{% block main %}    
<div class="row">
    <p>A partial list of my projects that I have worked on.</p>
    <div class="span12">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Project links</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td><a href="http://www.rewireapp.com/" class="btn btn-info btn-large btn-block" target="_blank">
                        ReWire 
                        </a>
                    </td>
                    <td>
                        <p>
                            one of the world’s first interactive meditation apps. Fun and effective, ReWire trains powerful attention and clear presence quickly. Try a session and see for yourself why experienced meditators and newbies alike are calling ReWire “shockingly effective”.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><a href="http://collablayer.com" class="btn btn-info btn-large btn-block" target="_blank">
                        CollabLayer
                        </a>
                    </td>
                    <td>
                        <p>
                            Real-time Collaboration. Post-PC style. CollabLayer is an app to help collaborate around documents/images with your teams, customers and partners in real-time. CollabLayer is in development, we would love to keep you updated on our progress.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><a href="http://dhilipsiva.github.io/DSBarChart/" class="btn btn-info btn-large btn-block" target="_blank">
                        DSBarChart
                        </a>
                    </td>
                    <td>
                        <p>
                            A simple Objective-C Bar Chart / Histogram library.
                        </p>
                    </td>
                </tr>
                <tr>
                    <td><a href="https://github.com/dhilipsiva/dssudokusolver" class="btn btn-info btn-large btn-block" target="_blank">
                        DSSudokuSolver
                        </a>
                    </td>
                    <td>
                        <p>
                            DS Sudoku solver is a mini web application that solves the sudoku puzzle.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
