{% extends "base.html" %}
{% block title %}Technologies | dhilipisva{% endblock %}
{% block js %}
{% endblock %}
{% block main %}
<div class="row">
    <div class="span8 offset2">
        <h4>Here are some of the techs that I have used and familiar with.</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Particulars</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Programming Languages
                        </p>
                    </td>
                    <td>
                        <p>C, C++, C#, Java, HTML, JavaScript, CSS, Python, Objective-C, Shell, Lisp, Clojure, Erlang
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Frameworks / Toolkits / Libraries
                        </p>
                    </td>
                    <td>
                        <p>Bootstrap, Twisted, Tornado, Flask, SQLAlchemy, Fabric, Node.js
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Developer Tools
                        </p>
                    </td>
                    <td>
                        <p>Vim, Visual Studio, Xcode, Git, Mercurial, Emacs, Cocos2D, Unity3D
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Databases
                        </p>
                    </td>
                    <td>
                        <p>Postgres, MySQL, SQL Server, SQLite, MongoDB, Mnesia
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Others
                        </p>
                    </td>
                    <td>
                        <p>NginX, Redis, RabbitMQ, ElasticSearch, Design Patterns, User Interactivity, Kick-ass test-cases, Automated deployments, AWS, Linode, Heroku.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="span8 offset2">
        <h4>Here is another list of things that I'm currently learning and intersted in.</h4>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Category</th>
                    <th>Particulars</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        <p>Programming Languages
                        </p>
                    </td>
                    <td>
                        <p>Scala, OCaml, Haskell, Ruby, PHP, Lua
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Frameworks / Toolkits / Libraries
                        </p>
                    </td>
                    <td>
                        <p>NLTK 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Developer Tools
                        </p>
                    </td>
                    <td>
                        <p> - 
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Databases
                        </p>
                    </td>
                    <td>
                        <p>CouchDB, HBase, Cassandra
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Others
                        </p>
                    </td>
                    <td>
                        <p>Machine learning, Big Data, Hadoop, Hive, Thirft, Memcached, Varnish, Pig, Scribe, And a hell a lot of other things.
                        </p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <p>Will be updating this section very frequently.</p>
</div>
{% endblock %}
