<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ site.url }}/feed.xml">
        {% stylesheet styles %}
    </head>
    <body>
        <div id="wrapper">
            <div id="sidebar-wrapper">
                <ul class="sidebar-nav">
                    <li class="sidebar-brand"><a href="#">dhilipsiva</a></li>
                    <li><a href="#">Dashboard</a></li>
                </ul>
            </div>
            <div id="page-content-wrapper">
                <div class="content-header">
                    <h1>
                        <a id="menu-toggle" href="#" class="btn btn-default"><i class="icon-reorder"></i></a>
                        Simple Sidebar
                    </h1>
                </div>
                <div class="page-content inset">
                    {{ content }}
                </div>
            </div>
        </div>
        {% javascript app %}
    </body>
</html>
